<div data-spy="scroll" class="form-scroll">
  <% data = JSON.parse(File.read(Dir.pwd + "/reference/#{file}.json")) %>
  <% data[file].keys.each do |item| %>
    <%= check_box_tag "#{file}_#{item}", item %> <%= item %><br>
  <% end %>
</div>