<div data-spy="scroll" class="scroll form-check">
  <p><b>Name:</b> <span class="character_name">---</span></p>
  <p><b>Level:</b> <span class="character_level">1</span> | <b>EXP:</b> <span class="character_exp">0</span></p>
  <p><b>Gender:</b> <span class="character_gender"></span>
  <p><b>Race:</b> <span class="character_race">--</span></p>
  <p><b>Traits:</b></p>
  <p>Strength: <span class="Strength">10</span></p>
  <p>Dexterity: <span class="Dexterity">10</span></p>
  <p>Constitution: <span class="Constitution">10</span></p>
  <p>Intelligence: <span class="Intelligence">10</span></p>
  <p>Wisdom: <span class="Wisdom">10</span></p>
  <p>Charisma: <span class="Charisma">10</span></p>
  <p><b>Background:</b> <span class="character_background">----</span></p>
  <p><b>Skills:</b> <span class="skills"></span></p>
</div>