<div class="profile-panel">
  <h1><%= @user.username %></h1>
  <%= image_tag('/default_profile_img.png', class: 'img-responsive img-rounded profile-img') %>
  <br>
  <div class="about-me">
    <label>Email:</label> <%= link_to "#{@user.email}", @user.email %>
    <h4>About Me</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>