<h3>Skills</h3>
<% @skills.each do |skill| %>
  <p><%= skill['name'] + ': ' + skill['trait'] %></p>
<% end %>

<h3>Traits</h3>
<% @traits.each do |trait| %>
  <p><%= trait %></p>
<% end %>

<h3>Proficiencies</h3>
<% Proficiency.all.each do |prof| %>
  <p><%= prof.name + ': ' +prof.label %></p>
<% end %>

<% @backgrounds.keys.each do |bg| %>
  <p><%= bg %></p>
<% end %>

<div class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></div>
