// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up-form, .log-in-form {
  padding: 0 25px 10px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  background-color: whitesmoke;
}

.sign-up-btn, .log-in-btn {
  text-align: center;
}

form {
  text-align: left;
}

.profile-btn {
  color: antiquewhite;
  font-size: medium;
}

.profile-btn:hover {
  background-color: whitesmoke;
}

.profile-panel {
  text-align: center;
}

.profile-img {
  width: 75%;
  margin: auto;
}

.about-me {
  text-align: left;
  padding: 3% 12%;
}

h4 {
  margin: 0;
}

